extends layout
mixin listItem(label, hrefVal, titleText)
	li(class=page.html==hrefVal ? 'active' : '')
		a(href!=hrefVal, title!=titleText)!= label

block content
	.container-fluid
		.col-sm-3.col-md-2.col-md-offset-1.col-lg-2.col-lg-offset-2
			.collapse.navbar-collapse
				nav.bs-docs-sidebar.affix
					h2 Core APIs
					ul.nav.bs-docs-sidenav
						+listItem('Classes', 'classes.html', "Spine's Class API for JavaScript compatibility.")
						+listItem('Models', 'models.html', 'Model API')
						+listItem('Controllers', 'controllers.html', 'Controller API')
						+listItem('Events', 'events.html', 'Events Module API')
						+listItem('Routing', 'routing.html', 'Routing Module API')

		.col-sm-9.col-md-8.col-lg-6.content!= page.html
