extends layout
mixin listItem(label, hrefVal, titleText)
	li(class=page.html==hrefVal ? 'active' : '')
		a(href!=hrefVal, title!=titleText)!= label

block content
	.container.col-sm-3
		nav.bs-docs-sidebar.affix
			h2 Core APIs
			ul.nav.bs-docs-sidenav
				+listItem('Classes', 'classes.html', "Spine's Class API for JavaScript compatibility.")
				+listItem('Models', 'models.html', 'Model API')
				+listItem('Controllers', 'controllers.html', 'Controller API')
				+listItem('Events', 'events.html', 'Events Module API')
				+listItem('Routing', 'routing.html', 'Routing Module API')

	.container.col-sm-9.content!= page.html
