extends layout

block content
	.jumbotron
		.container
			h1.text-center Spine.js
			p.text-center
				| The Model View Controller pattern is at the heart of Spine, and absolutely integral to modern JavaScript applications.
			p.text-center
				a.btn.btn-primary.btn-lg(href='docs/started.html', role='button') Get Building!
		.container
		.row
			.col-md-12
				h1.text-center Build Awesome JavaScript MVC Applications
				h4.text-center
					| Spine is a simple and lightweight framework, and doesn't consist of a vast amount of complex widgets to configure and theme.
	.container
		.row
			.col-md-4
				.well.well-lg
					.glyphicon.glyphicon-education.banner-icon
					h4.text-center
						| Our getting started page discusses conventions and philosophies employed by Spine.
					p.text-center.dropped-button
						a.btn.btn-primary.btn-lg(href='docs/', role='button') Get Started
			.col-md-4
				.well.well-lg
					.glyphicon.glyphicon-blackboard.banner-icon
					h4.text-center In addition to very approachable source code we aim to have great documentation.
					p.text-center.dropped-button
						a.btn.btn-primary.btn-lg(href='api/', role='button') View Documentation
			.col-md-4
				.well.well-lg
					.glyphicon.glyphicon-road.banner-icon
					h4.text-center
						| Nothing better than examples to clarify nuance. If you are having difficulties, this page should get you up to speed.
					p.text-center.dropped-button
						a.btn.btn-primary.btn-lg(href='examples.html', role='button') See Examples
