extends layout

block content
	.container.col-sm-3
		p
			a(href='classes.html') Classes
			br
			| Spine's Class API for JavaScript compatibility.
		p
			a(href='models.html') Models
			br
			| Spine's Model API
		p
			a(href='controllers.html') Controllers
			br
			| Spine's Controller API
		p
			a(href='events.html') Events
			br
			| Spine's Event Module
		p
			a(href='routing.html') Routing
			br
			| Spine's Controller Routing API

	.container.col-sm-9!= page.html
