<!DOCTYPE html>
<html>
<head>
  <title></title>
  
</head>
<body>
  <header id="header">
    <h1><a href="/">Spine</a></h1>
    <h2></h2>
  </header>
  
  <article id="article">
  
    <nav id="nav">
      <h2>"API"</h2>
      <ul>
        <li>"Classes"</li>
        <li>"Models"</li>
        <li>"Controllers"</li>
        <li>"Events"</li>
        <li>"Routing"</li>
      </ul>
      
      <h2>More</h2>
      
      <ul>
        <li>"Guides"</li>
      </ul>
      
    </nav>
  
    <section id="section">
      <%= yield %>
    </section>
    
  </article>
</body>
</html>
